# Entorno
.venv/
venv/
env/
ENV/
*.env
.env
*.local
settings_local.py

# BDD local

db.sqlite3

# Migraciones

**/migrations/__pycache__/
**/migrations/*.pyc

# Archivos python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Archivos temporales
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de VSCode
.vscode/
*.code-workspace

# Archivos de compilacion/despliegue
*.bak
*.zip

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.md